QuestionService/.env
user-service/.env
MatchingService/.env
QuestionService/insert_questions_script.py

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
QuestionService/node_modules
user-service/node_modules
MatchingService/node_modules
CollabService/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*