.login-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left-side {
  flex: 4;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align to the top */
  align-items: center; /* Center elements horizontally */
  padding-top: 25vh; /* Start from 25% of the viewport height */
}

.title {
  font-size: 3rem; /* Adjust font size for the title */
}

.subtitle {
  font-size: 2rem; /* Smaller font size for subtitle */
}

.right-side {
  flex: 6;
  padding: 20px;
  padding-top: 25vh; /* Start from 25% of the viewport height */
  display: flex;
  justify-content: left; 
  align-items: flex-start; 
}

.input-container {
  width: 100%; /* Set the width to 60% of the right-side container */
  max-width: 500px;
}


.button-container {
  display: flex;
  flex-direction: row; /* Arrange buttons in a row */
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Space between buttons */
  margin-top: 20px; /* Add some margin above the buttons */
}

.login-button {
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  background-color: #004b9b; /* Primary color for Sign In */
  color: white; /* Text color */
}

.create-account-link {
  align-self: center; /* Center align vertically */
  padding: 10px 20px; /* Add some padding */
  border: 1px solid #004b9b; /* Add a border */
  border-radius: 4px; /* Rounded corners */
  color: #004b9b; /* Link color */
  text-decoration: none; /* Remove underline */
  display: flex; /* To center the text vertically */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.create-account-link:hover {
  background-color: #f0f0f0; /* Light background on hover */
}
